$InputRange-fontFamily: 'Poppins', sans-serif !default;
$InputRange-primaryColor: #5be0b3 !default;
$InputRange-neutralColor: #8d8d8d !default;
$InputRange-neutralLightColor: #d3d3d3 !default;
$InputRange-disabledColor: #cccccc !default;


// InputRange-slider
$InputRange-slider-background: $InputRange-neutralLightColor !default;
$InputRange-slider-border-size: 5px !default;
$InputRange-slider-border: $InputRange-slider-border-size solid $InputRange-primaryColor !default;
$InputRange-slider-height: 7px !default;
$InputRange-slider-width: 7px !default;
$InputRange-slider-transition: transform 0.2s ease-out, box-shadow 0.2s ease-out !default;
$InputRange-sliderContainer-transition: left 0.2s ease-out !default;
$InputRange-slider--active-transform: scale(1.2) !default;
$InputRange-slider--is-disabled-background: $InputRange-disabledColor !default;
$InputRange-slider--is-disabled-border: $InputRange-slider-border-size solid $InputRange-disabledColor !default;

// InputRange-label
$InputRange-label-color: $InputRange-neutralColor !default;

// InputRange-track
$InputRange-track-background: $InputRange-neutralLightColor !default;
$InputRange-track-height: 7px !default;
$inputRange-track-transition: left 0.3s ease-out, width 0.3s ease-out !default;
$InputRange-track--active-background: $InputRange-primaryColor !default;
$InputRange-track--is-disabled-background: $InputRange-neutralLightColor !default;
