@import "InputRangeVariables";
@import "InputRangeSlider";
@import "InputRangeLabel";
@import "InputRangeLabelContainer";
@import "InputRangeTrack";

.InputRange {
  cursor: pointer;
  height: $InputRange-slider-height;
  position: relative;
  width: 100%;

  background: $InputRange-track-background;
  border-radius: $InputRange-track-height;

  &.is-disabled {
    background: $InputRange-track--is-disabled-background;
  }
}
